body{
font-family: Arial;
background:#f4f4f4;
}

.container{
width:350px;
margin:100px auto;
background:white;
padding:25px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.input-box{
position:relative;
}

input{
width:100%;
padding:10px;
font-size:16px;
}

#toggle{
position:absolute;
right:10px;
top:10px;
cursor:pointer;
color:#007bff;
}

.strength-meter{
height:10px;
background:#ddd;
margin-top:15px;
border-radius:5px;
}

#strength-bar{
height:10px;
width:0%;
border-radius:5px;
transition:0.3s;
}

.rules{
margin-top:15px;
padding-left:20px;
}

.rules li{
color:gray;
margin:5px 0;
}

.valid{
color:green;
}